#!/bin/sh
#
##Full path to the cwl file
#
CWL_SCRIPT=/opt/software/external/ggr-cwl/GGR-cwl/v1.0/RNA-seq_pipeline/pipeline-se-unstranded-with-sjdb.cwl
#
##Full path to the pipeline json file
#
JSON_FILE=/data/projects/Biocore/biocore_analysis/biocore_projects/rna-seq/JimCoffman/jcoffman_004.klf9ko_cortisol_2019/jcoffman_004.1576437759/WT_cort1.danio_rerio.json
#
## Cwl Command line options
#
CWL_COMMAND_OPTIONS="--no-container --debug  --timestamps "
#
## The owner of the pipeline results directory 
#
PIPELINE_OWNER=nmaki
#
## Pipeline results directory 
#
RESULTS_DIR=/data/scratch/rna-seq/JimCoffman/jcoffman_004.klf9ko_cortisol_2019/jcoffman_004.1576437759
#
